<dx-popup [(visible)]="showPopup" title="Deseja continuar?"
          height="250" width="300">
  <div class="container container-fluid">
    <div class="row">
      <div class="col-12 d-grid justify-content-center">
        {{warnMessage}}
        <small class="mt-2" style="font-weight: normal">A opção ficará desabilitada enquanto isso.</small>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 d-flex justify-content-center">
        <dx-button
          type="success"
          text="Confirmar"
          icon="download"
          (onClick)="onConfirmarClick()"
        >
        </dx-button>
        <span class="m-1"></span>
        <dx-button
          type="normal"
          text="Cancelar"
          icon="clear"
          (onClick)="onCancelarClick()"
        >
        </dx-button>
      </div>
    </div>
  </div>
</dx-popup>
