<mat-toolbar class="sub-toolbar">
  <dx-button
    style="border: none"
    type="success"
    stylingMode="outlined"
    (onClick)="goBack()"
    [icon]="'chevronprev'"
  ></dx-button>
  <div class="d-flex justify-content-end w-100">
    <dx-button
      type="success"
      icon="save"
      text="Salvar"
      (onClick)="salvar()"
    ></dx-button>
    <span class="m-1"></span>
    <dx-button
      type="danger"
      stylingMode="outlined"
      icon="trash"
      text="Excluir"
      [visible]="disciplina?.id"
      (onClick)="delete()"
    ></dx-button>
  </div>
</mat-toolbar>

<div class="base-padding">
  <mat-card class="mat-elevation-z8 m-auto">
  <mat-card-title>
    <mat-toolbar class="toolbar-border"><span style="color: #4caf50;">Cadastrar Disciplina</span></mat-toolbar>
  </mat-card-title>

  <mat-card-content class="mt-5">
    <form [formGroup]="form">
        <samha-autocomplete-field [resource]="'curso'" [control]="cursoControl" [label]="'Curso'"></samha-autocomplete-field>

      <div *ngIf="cursoControl.value">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Matriz Curricular</mat-label>
          <mat-select *ngIf="matriz$ | async as matrizes; else loading" formControlName="matriz" [compareWith]="compareMatrizFunction">
            <mat-option *ngFor="let matriz of matrizes.listMap" [value]="matriz">{{matriz.nome}}</mat-option>
          </mat-select>
          <ng-template #loading>
            <mat-select [disabled]="true"></mat-select>
          </ng-template>
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Nome</mat-label>
          <input matInput type="text" formControlName="nome">
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Sigla</mat-label>
          <input matInput type="text" formControlName="sigla">
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="tipo" [compareWith]="compareFunction">
            <mat-option [value]="'OBRIGATÓRIA'">Obrigatória</mat-option>
            <mat-option [value]="'OPTATIVA'">Optativa</mat-option>
            <mat-option [value]="'ESPECIAL'">Especial</mat-option>
          </mat-select>

        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Carga Horária</mat-label>
          <input matInput type="number" formControlName="cargaHoraria">
          <mat-hint *ngIf="form.get('cargaHoraria').invalid && form.get('cargaHoraria').touched">Mínimo 15 e máximo 120</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Quantidade de Aulas</mat-label>
          <input matInput type="number" formControlName="qtAulas">
        </mat-form-field>

        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Período</mat-label>
          <input matInput type="number" formControlName="periodo">
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
</div>
