<mat-card>
  <div class="container container-fluid">
    <div class="row">
      <div class="col-12 d-grid justify-content-center">
        <small>Este processo pode demorar, seja paciente!</small>
      </div>
    </div>
    <div class="row mt-2 justify-content-center">
      <div class="col-6">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Ano</mat-label>
          <input matInput type="number" [formControl]="anoControl" (change)="onAnoSemestreChange()">
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field appearance="outline" class="d-block">
          <mat-label>Semestre</mat-label>
          <input matInput type="number" [max]="2" [min]="1" [formControl]="semestreControl" (change)="onAnoSemestreChange()">
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 d-grid justify-content-center" *ngIf="isGenerating">
        <div class="row d-grid justify-content-center">
          <small>Gerando, por favor não feche esta janela.</small>
        </div>
        <div class="row d-grid justify-content-center">
          <div class="spinner-border text-success" role="status"></div>
        </div>
      </div>
      <div class="row" *ngIf="authenticated">
        <div class="col-12">
          <mat-checkbox [formControl]="enviarEmailControl">Enviar E-mail</mat-checkbox>
        </div>
      </div>
      <div class="row mt-3 mb-4" *ngIf="enviarEmailControl.value && authenticated">
        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>
              <mat-icon>lock</mat-icon>
              Senha
            </mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="senhaControl">
            <button mat-icon-button matSuffix (mousedown)="hide = !hide" [attr.aria-label]="'Esconder/Mostrar'"
                    [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Esta senha não será armazenada. O sistema utilizará seu e-mail cadastrado e a senha informada acima para fazer o envio do e-mail.</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12" *ngIf="!isGenerating">
        <dx-button
          type="success"
          class="w-100"
          icon="pdffile"
          text="Gerar Relatório"
          [disabled]="!anoControl.valid || !semestreControl.valid"
          (onClick)="onGerarClick()">
        </dx-button>
      </div>
    </div>
  </div>
</mat-card>
