<mat-form-field class="d-block" appearance="outline">
  <mat-label>{{label}}</mat-label>
  <input type="text" matInput [formControl]="control" [matAutocomplete]="auto">
  <button *ngIf="control.value" matSuffix mat-icon-button aria-label="Clear" (click)="onClearButtonClicked()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete
    autoActiveFirstOption #auto="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="onAutocompleteChange($event)"
    (opened)="onSelectionOpened()"
    >
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option.nome}}
    </mat-option>
  </mat-autocomplete>

</mat-form-field>
