<mat-card class="w-75 m-auto mt-5 h-75">
  <mat-card-header>
    <h2 matCardTitle>Bem Vindo</h2>
  </mat-card-header>
  <mat-card-content class="p-3 ">
    Selecione um item no Menu ao lado para iniciar.
  </mat-card-content>
</mat-card>

<!-- <mat-card class="w-75 m-auto mt-5 h-75">
  <mat-card-header>
    <h2 matCardTitle>Bem Vindo</h2>
  </mat-card-header>

  <mat-card-content class="p-3 text-center">
    <form [formGroup]="formGroup">
      <p>Selecione os dados abaixo. Eles serão utilizados com padrão em todas as interfaces do SAMHA.</p>

      <div class="d-flex justify-content-center align-items-start gap-3 mt-4">
        
        <mat-form-field appearance="outline" style="width: 500px;">
          <mat-label>Escolha um Curso</mat-label>
          <mat-select>
            <mat-option value="opcao1">Opção 1</mat-option>
            <mat-option value="opcao2">Opção 2</mat-option>
            <mat-option value="opcao3">Opção 3</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 150px;">
          <mat-label>Ano</mat-label>
          <input matInput type="number" formControlName="ano" #anoInput>
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 150px;">
          <mat-label>Semestre</mat-label>
          <input matInput type="number" formControlName="semestre" [min]="1" [max]="2" #semestreInput>
        </mat-form-field>
        
      </div>
    </form>
  </mat-card-content>

  <mat-card-content class="p-3">
    Selecione um item no Menu ao lado para iniciar.
  </mat-card-content>
</mat-card> -->